/* ESTILO PARA TABLETS */
@media only screen and (min-width: 788px) and (max-width: 979px) {


/* QUALIDADE HOME */
.qualidade::after {
    right: 66px;
}
.qualidade_lista li {
    padding: 0 10px;
}


/* FOOTER */
.footer_redes ul li a {
    border: 3px solid #fec63e;
    display: block;
    padding: 6px;
    transition: 200ms;
}

.footer_redes ul li a img {
	width: 26px;
	height: 26px;
}

}

/* ESTILO PARA SMARTPHONE */
@media only screen and (max-width: 787px) {
/* HEADER */
.header {
	position: relative;
	padding-bottom: 0;
}
.header img {
	margin: 0 auto 10px auto;
}
.header_menu {
	text-align: center;
}
.header_menu ul li {
	margin: 5px;

}
.header_menu ul li a {
	border: 4px solid #000;
	width: 136px;
	display: block;
	float: left;
   
}
.header_menu ul li a:hover {
	border-color: #fff;
}
.header_menu ul li a.menu_ativo {
	border-color: #fff;
}

/* INTRODUÇÃO */
.introducao {
	margin-top: 0;
	padding-top: 40px;
	background: url("../img/bg-mobile.jpg") no-repeat center;
    background-size: cover;
}
.introducao h1 {
	font-size: 38px;
}

/* INTRODUCÃO INTERNA */
.introducao-interna {
    margin-top: 0;
}


/* CALL */
.call {
    padding-top: 10px;
   
}
/* QUALIDADE HOME */
.qualidade::after {
	display: none;
}

/* SOBRE */
.missao_sobre p {
	font-size: 14px;
	line-height: 20px;
	padding-right: 0px;
}
.missao_sobre ul li {
	font-size: 14px;
	line-height: 20px;
}

}