<header class="header">
  <div class="container">
      <a href="/" class="grid-4">
          <img src="img/bikcraft.svg" alt="Bikcraft">
      </a>

      <nav class="grid-12 header_menu">
          <ul>
              <li><a href="/sobre">Sobre</a></li>
              <li><a href="/produtos">Produtos</a></li>
              <li><a href="/portfolio">Portfólio</a></li>
              <li><a href="/contato">Contato</a></li>
          </ul>
      </nav>
  </div>
  <p>Página: <%= pagina  %>  </p>
</header>