<head>
  <!-- SEO -->
  <meta name="description" content="Compre a sua bicicleta personalizada na Bikcraft. Possuímos modelos Passeio, Esporte e Retrô.">
  <meta property="og:type" content="website">
  <meta property="og:title" content="BikCraft - Bicilcetas Personalizadas">
  <meta property="og:description" content="Compre a sua bicicleta personalizada na Bikcraf">
  <meta property="og:url" content="https://bikcraft.com">
  <meta property="og:image" content="https://bikcraft.com/img/og-image.png">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BikCraft - Index</title>
   <!-- CSS -->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/style.css">
    
  <link rel="stylesheet" href="css/sobre.css">
  <link rel="stylesheet" href="css/portfolio.css">
  <link rel="stylesheet" href="css/produtos.css">
  <link rel="stylesheet" href="css/contato.css">
  <link rel="stylesheet" href="css/responsivo.css">

  <script>document.documentElement.classList.add("js")</script>
</head>
  