<div class="quebra">
  <blockquote class="quote-externo container">
      <p>"O verdadeiro segredo da felicidade está em ter um genuíno
          interesse por todos os detalhes da vida cotidiana."
      </p>
      <cite>WILLIAN MORRIS</cite>
  </blockquote>
</div>